#torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
transformers==3.3.0
datasets==1.1.2
gensim==3.6.0
nltk==3.2.5
pandas==1.1.2
pathlib>=1.0.1
streamlit==0.67.1
scikit-learn==0.23.0
tqdm==4.41.1
#plotly==4.11.0
